.container {
  height: 100vh;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 1.5em;
    letter-spacing: 3px;
  }
}

.card {
  //Contenido ocupa el 100% del tamaño del dispositivo sin importar su resolucion
  height: calc(100% - 104px);
  @media screen and (min-width: 1024px) {
    height: calc(100% - 112px);
  }
  &--title {
    display: flex;
    justify-content: center;
  }
  &--content {
    width: 40vw;
    margin: 50px auto 0 auto;
    position: relative;
    top: 10%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      top: 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
}

.w-100 {
  width: 100%;
}
